/*-------------------------- BASICS --------------------------*/
:root {
  --nav-bg-color: #fff;
  --nav-text-color: #fff;

  --body-bg-color: #000814;
  --body-text-color: #00eaff;

  --placeholder-color: #13ffff;

  --footer-bg-color: #212529;
  --footer-text-color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: var(--body-bg-color);
  color: var(--body-text-color);
  font-family: "Orbitron", sans-serif;
}

body::-webkit-scrollbar {
  width: 0px;
}

h1 {
  font-family: "Nunito", sans-serif;
}

h3 {
  font-family: "Fredoka", sans-serif;
}

p,
a,
label,
input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input{
  color: var(--body-text-color);
}

p {
  margin-bottom: 1px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

section {
  width: 90vw;
  min-height: calc(100vh - 80px);
  margin: 0px auto 0px auto;
}

.my-btn {
  text-decoration: none;
  color: var(--body-text-color);
  font-weight: bold;
  position: relative;
}

.my-btn::after,
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00eaff;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.my-btn:hover::after,
.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/*-------------------------- HEADER --------------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

  .navbar {
  padding: 16px 24px;
  background-color: rgb(1, 16, 39); /* soft translucent blue */
  box-shadow: 0px 0px 10px 2px rgba(0, 234, 255); /* subtle line */
  z-index: 1100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}


.nav-link,
.navbar-brand {
  color: var(--body-text-color) !important;
}

.navbar-toggler,
.navbar-toggler-icon {
  color: var(--body-text-color) !important;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #00eaff;
  font-size: 1.2rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff00ff;
}

@media only screen and (max-width: 1400px) {
  .navbar .nav-item .nav-link {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1250px) {
  .navbar .nav-item .nav-link {
    padding: 0.2rem;
  }
}


/*-------------------------- FOOTER --------------------------*/

footer i {
  font-size: 1.5rem;
  color: var(--body-text-color);
  transition:  all 0.1s ease-in-out;
}

/* Hover Effect Only for Specific Icons */
.list-unstyled li a:hover i.bxl-facebook-circle {
  color: #1877f2; /* Facebook Blue */
  transform: scale(1.2);
}

.list-unstyled li a:hover i.bxl-instagram-alt {
  color: #e4405f; /* Instagram Pink */
  transform: scale(1.2);
}

.list-unstyled li a:hover i.bxl-twitter {
  color: #1da1f2; /* Twitter Blue */
  transform: scale(1.2);
}